$fonts: (
  copy: ("Open Sans", Helvetica, sans-serif),
  headers: ("Open Sans", Helvetica, sans-serif)
);

body {
  // We could use shorthand if libsass didn't try to _divide_ font-size by font-height ;)
  font-weight: normal;
  font-size: ms(0);
  line-height: 1.5;
  font-family: map-get($fonts, copy);
}