extends ./page/page.jade
//-
block content
  div
    p
      | This is a very exclusive collection of only must-have JavaScript links. I’m only listing my favorite links. Nothing else makes the cut. Feel free to suggest links if you think they’re good enough to make this list. The really curious should feel free to browse the comments to find other links. I can’t guarantee the quality of links in the comments.
  aside.InfoBox.InfoBox--Warning
    h2.List-Header Full Disclosure
    p
      | Some of these links are affiliate links, meaning that if you make a purchase, I might earn a little money.
      strong  This has absolutely no bearing on whether or not links make the list.
      em  None, whatsoever.
      |  However, it does allow me more resources to
      = ' '
      strong
        a(href='#') fight poverty with code
      = ' '
      em Every little bit counts.
