extends ./page/page.jade
include ./list/mixins.jade
//-
block content
  //
    Here go our lists of those links.
    Or one list, if it's the search or filter results.
    (theBigData comes from src/data/the-big-data.json via Gulp)
  each cat, index in bigData.categories
    +List(cat, index)